.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.form__label {
    font-weight: bold;
}

.form__input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
}
